body {
    
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.nav_title{
    width:auto;
}


.right_col{
    background-color:#F7F7F7;
}


table{
    width:100%;
}

.container.body{
    max-width:none;
}


/*KLIJENTI*/

.klijenti form .btn-filtriraj,
.dispozicije  .btn-filtriraj,
.instradacije .btn-filtriraj{
    position:absolute;
    bottom:0 ;
    margin-bottom:15px;
    margin-left:5px;
}

.klijenti .form-inline,
.dispozicije .form-inline{
    margin-bottom:15px;
}
.klijenti .pagination-container,
.dispozicije .pagination-container{
    text-align:center !important;
}

.dispozicije .form-inline .form-group:first-child,
.instradacije .form-inline .form-group:first-child {
    padding-left:0;
}

.dispozicije form, .instradacije form{
    margin-bottom:15px;
}

.dispozicija-detaljno .unos .stavke table tr td{
    text-align:center;
}

.dispozicija-detaljno .unos .stavke table td:first-child{
    padding:0;
    text-align:left;

}

.dispozicija-detaljno .x_title h3{
    display:inline;
}

.dispozicija-detaljno .x_title .btn.btn-success{
    position: absolute;
    right: 10px;
    top: 5px;
    }

.dispozicija-detaljno .x_title .btn.btn-success i{
    margin-right:5px;
}
/*Klijent profil*/
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}



.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}

.new .col-md-5{
    float:none;
    margin:0 auto;
}

.new input,
.new select,
.new textarea{
    max-width:none;
}


.unos .stavke .row .form-group select {
      display:inline-block !important;
      width:80%;
}

.error-msg{
    color:#ff0000;
}

.new .form-group span{
   color:#ff0000;
}

.login{
    background-color:#19afca;
}

@media only screen and (max-width: 768px) {

input,select{
    max-width:none;
    width:100% !important;
}

.dispozicije .form-inline .form-group:first-child,
.instradacije .form-inline .form-group:first-child{
    padding-left:10px;
}

.klijenti form .btn-filtriraj, .dispozicije  .btn-filtriraj, .instradacije .btn-filtriraj{
    position:initial;
    width:100%;
    margin-left:0;
}

}